$white-color: #ffffff;
$black-color: #000000;
$color-gry: #d6d6d6;
$primary-color: #1565d8;
$title-color: #093577;
$btn-hover: #146fc2;
$svg-color: #979797;
$bg-color: #e4ebf5;
$font-color: #0f2d4b;
$strong-color: #156ebf;
$header-bg-color: #ffffff;
$black-grey: #2e2e2e;
$layout-bg-color: #edeff3;
$require-color: #b40202d9;
$dots-hover-color: #08377e;
$dots-color: #a5a5a5;
$points-text-color: #484545;
$points-value-color: #1f1515;
$card-body-active-color: #effbfc;
$card-border-0color: #c3cfdc;
$table-header: #1963a6;
$table-row-color: #f7f8fc;
$table-row-font-color: #2e384d;
$border-color: #dfe2e8;
$bg-grey-color: #f8f8f8;
$menuSideBar-color: #02223f;
$menuSideBarBorder-color:  #17324b;;
$menusideBarIcon-color: #afafaf;
$menuSidebarIcon-hover-color: #f9a01f;
$divider-color: #17324b;
$link-color: #095aa4;
$input-border-color: #8692a6;
$error-color: #ff7875;
$dashed-border-color: #d9d9d9;
$sub-menu-color: #7d7d7d;
$sub-menu-border-color: #f9a01f;
$icon-color: #268fee;
$active-color: #37ae22;
$deactive-color: #0988af;
$pending-color: #ff8f2c;
$reactive-color: #0d98e8; 
$modal-header-bg: #043661;
$modal-bg-color: #fffffff5;
$modal-bg-icon-color: #012e55;
$tag-bg-color: #c9e5ff;
$garident-color: #003c92;
$garident-color-third: #003c92;
$desc-color: #8692a6;
$text-color: #696f79;
$search-border-color: #b6b6b6;
$light-grey-color: #f7f7f7;
$image-border-color: #ccc5c5;
$login-divider-color: #f5f5f5;
$placeholder-color: #8692a6;
$hover-placholder-color: #494949;
$menu-link-color: #2d3135;
$icon-bg-color: #ececec;
$activity-sub-text-color: #919599;
$activity-background-color: #f6f3f3;
$footer-border-color: #cfcfcf;
$mask-color: #616161;
$light-black-color: #333333d9;
$table-header-secondary: #f4f6f8;
$logo-border: #d0d0d0;
$drawer-container-border: #bdbdbd;
$drawer-container-bg: #f9f9f9;
$drawer-btn-bg: #4e74aa;
$drawer-link-color: #498dd4;
$sub-layout-header: #3a3d42;
$feedback-btn: #041f36;
$feedback-btn-bg: #034985;
$table-link-color: #007fc9;
$top-header-bg-color:  #032848;
$error-color: #F81D22;
$border-fade-color: #b9b9b9;