@import "../../assets/font.scss";
@import "../../assets/color.scss";
@import "../../assets/app.scss";

.ant-layout-footer {
  padding: 0;
  border-top: 1px solid $footer-border-color;
  .footerContainer {
    height: $app-footer-height;
    background-color: $white-color;
    bottom: 0;
    text-align: center;
    .footerRow {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      div {
        text-align: center;
        padding: 0 10px;
        @include fontSize(1);
        span {
          color: $black-grey;
        } 
      }
    }
   
  }
}

.clickableSpan {
  cursor: pointer;
}
